body {
  font-family: 'Courier New', Courier, monospace;
}

.main {
  margin: 2rem;
  text-align: center;

  h1 {
    font-size: 5rem;
  }

  .upload-container {
    padding: 20px;
    border-radius: 20px;
    min-height: 50vh;
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      border: 1px solid #ccc;
      padding: 10px;
    }

    img {
      max-width: 400px;
    }

    div {
      margin-top: 50px;
    }
  }
  
}